h1 {
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 10px;
}

.video-container {
    text-align: center;
    position: relative;
    padding-bottom: 50%;
    padding-top: 50px;
    height: 0;
    overflow: hidden;
  }
   
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

.gambar {
    text-align: center;
    margin: 50px 0 50px 0;
}

.gambar > img {
    width: 700px;
    border: 2px solid var(--neutral-400);
    border-radius: var(--rounded-xs);
}

/* Start : Registration */
.registration {
    background-color: rgb(232, 252, 232);
    padding: 2em;
    border-radius: 15px;
    margin-top: 8em;
}

.registration > h3 {
    font-size: var(--text-heading-s);
    font-weight: var(--text-semibold);
    color: var(--neutral-900);
}

.registration > p {
    font-size: var(--text-paragraph);
    color: var(--neutral-600);
}

/* Start : Pagination */
.pagination {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-next {
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 8px 15px;
}
/* End : Pagination */